

@font-face {
  font-family: 'Ownglyph_ryurue-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Ownglyph_ryurue-Rg';
  font-size: 25px;
}

.App{
  width: 100vw;
  height: 100vh;
}


.stu-menu{
  width: 100%;
}
.stu-menu > ul{
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: lightblue;
  margin-top: 15px;
  
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  cursor: pointer;
  font-weight: 700;
  color: rgb(66, 66, 66);
}

.content{
  width: 600px;
  margin: auto;
}

tbody > tr:nth-child(even){
  background-color: rgb(215, 242, 250);
}


/* 학생정보 */

.stuinfo{
  width: 100%;
  margin: auto;
}

.stu-table{
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  border: 1px solid lightblue;
}

thead{
  background-color: rgb(83, 189, 224);
  color: rgb(255, 255, 255);
  border-bottom: 4px double ;
}


td{
  padding: 5px;
}


/* 학생등록 */

button{
  border: none;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background-color:lightseagreen;
  color: white;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 25px;
}

/* 학생상세 */

span:hover{
  cursor: pointer;
  color: grey;
}

.detail-table{
  border-collapse: collapse;
  width: 600px;
}

.detail-table > tr,td{
  border: 1px solid rgb(195, 221, 230);
  text-align: center;
}

.detail-table > tr > td:nth-child(1){
  background-color: rgb(83, 189, 224);
  color: rgb(255, 255, 255);
}
.detail-table > tr > td:nth-child(3){
  background-color: rgb(83, 189, 224);
  color: white;
}

h3{
  display: inline-block;
  background-color:lightseagreen;
  color: white;
}

h3::before{
  content: '💁‍♀️';
}