.App{
  width: 100vw;
  height: 100vh;
}

.header{
  background-color: rgb(85, 184, 218);
  width: 100%;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

.banner{
  width: 100%;
  height: 150px;
}
.banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.books {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
 
}

.books img{
  border: 1px solid grey;
}

.books h3, p{
  margin: 5px;
}


