body{
  background-color: darkgray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
}

.container > div {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
 color: black;
}

.container i:hover{
  scale: 1.5;
  color: red;
}


