

.d1{
  margin: auto;
  width: 200px;
  height: 50px;
}

/* 쉼표로 선택자 연결 */
table, tr, td{
  border: 1px solid rgb(253, 101, 185);
}

/* 테이블 이중성 병합시키기 *외우자!!
  border-collapse: collapse; >>> 테이블태그에만 있는 성질임
 */

 /* 속성은 위에서 아래로 명령순서대로 실현됨(중첩) */
table{
  border-collapse: collapse;
  margin: auto;
  margin-top: 16px;
  width: 300px;
}

button{
  background-color: rgba(0, 179, 119, 0.322);
  width: 100px;
  margin-top: 10px;
}

.d2{
  text-align: center;
}