<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/reset.css">
</head>
<style>
  td{
    padding: 5px;
    text-align: center;
  }
  .bnt-2 > input{
      padding: 5px;
      background-color: lightskyblue;
      border: none;
      border-radius: 5%;
      color: rgb(255, 255, 255);
  }

</style>
<body>
    <form action="/updateForm" method="post">
      <table>
        <colgroup>
          <col width="20%">
          <col width="*">
        </colgroup>
        <tr>
          <td>글번호</td>
          <td>[[${board.bNum}]]</td>
          <td>작성자</td>
          <td>[[${board.bWriter}]]</td>
        </tr>
        <tr>
          <td>제목</td>
          <td>[[${board.bTitle}]]</td>
          <td>조회수</td>
          <td>[[${board.readCnt}]]</td>
        </tr>
        <tr>
          <td>내용</td>
          <td colspan="3"><textarea cols="15" rows="7">[[${board.bContent}]]</textarea></td>
        </tr>
      </table>
      <span class="bnt-2">
        <input type="button" value="목록가기" onclick="back()">
      <input type="button" value="수정하기" th:onclick="goUpdate([[${board.bNum}]])">
      <input type="button" value="삭제하기" th:onclick="goDelete([[${board.bNum}]])">
      </span>
    </form>

    <script>
      function back(){
        location.href="/"
      }

      function goUpdate(bNum){
        const result2= confirm('수정 하시겠습니까?')

    if(result2){
      location.href=`/updateForm?bNum=${bNum}`;
    }
      }

      function goDelete(bNum){
        const result= confirm('삭제 하시겠습니까?')

    if(result){
      location.href=`/bDelete?bNum=${bNum}`;
    }
      }

    </script>
    
</body>
</html>