<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form action="/reg_board" method="post">
      <table>
        <colgroup>
          <col width="20%">
          <col width="*">
        </colgroup>
        <tr>
          <td>제목</td>
          <td><input type="text" name="bTitle"></td>
        </tr>
        <tr>
          <td>작성자</td>
          <td><input type="text" name="bWriter"></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="bContent" cols="30" rows="10"></textarea></td>
        </tr>
      </table>
      <input type="submit" value="글등록" >
    </form>
  

</body>

</html>