<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <form action="/update" method="post">
    <table>
      <colgroup>
        <col width="20%">
        <col width="*">
      </colgroup>
      <tr>
        <td>글번호</td>
        <td>[[${bUp.bNum}]]</td>
        <td>작성자</td>
        <td>[[${bUp.bWriter}]]</td>
      </tr>
      <tr>
        <td>제목</td>
        <td><input type="text" name="bTitle" th:value="${bUp.bTitle}"></td>
      </tr>
      <tr>
        <td>내용</td>
        <td><textarea name="bContent">[[${bUp.bContent}]]</textarea></td>
      </tr>
    </table>
    <input type="hidden" name="bNum" th:value="${bUp.bNum}">
    <input type="hidden" name="bWriter" th:value="${bUp.bWriter}">
    <input type="hidden" name="bContent" th:value="${bUp.bContent}">
    <input type="submit" value="수정하기">
    <input type="button" value="뒤로가기" onclick="goBack()">
 </form>
</body>

<script>
  function goBack(){
    location.href="/bDetail"
  }
</script>

</html>