<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원등록페이지</title>
  <link rel="stylesheet" href="/reset.cee">
</head>

<style>

</style>

<body>
  <h2>회원 등록</h2>
  <form action="/insetMember" method="post">
    <table>
      <tr>
        <td>회원 번호 : </td>
        <td><input type="text" name="memNum" value=""></td>
      </tr>
      <tr>
        <td>회원 이름 : </td>
        <td><input type="text" name="memName" value=""></td>
      </tr>
      <tr>
        <td>회원 나이 : </td>
        <td><input type="text" name="memAge" value=""></td>
      </tr>
      <tr>
        <td>회원 주소 : </td>
        <td><input type="text" name="memAddr" value=""></td>
      </tr>
    </table>
    <input type="submit" value="등록하기">
  </form>
</body>
</html>