body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1200px;
  border: 1px solid black;
  margin: auto;

}

.header{
  border: 1px solid red;
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  width: 100%;
  margin: 0px;
  background-color: darkblue;
  color: white;
}

.header > ul {
  display: flex;
  background-color: rgb(1, 1, 100);
  padding: 12px 10px;
  gap: 20px;
}

.header  a{
  text-decoration: none;
  color: white;
}

.main > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.main{
  position: relative;
}


.main > div{
display: flex;
flex-direction: column;
position: absolute;
top : 50%; left: 50%;
transform: translate(-50% , -50%);
background-color: rgba(0, 0, 0, 0.3);
color: white;
padding: 20px 50px;
border-radius: 4px;
}

.main >div > h2 {
  margin-bottom: 10px;
}

img{
  display: block;
}

.content{
  /* display: flex; */
  height: 200px;
  /* border: 1px solid blue; */

}

.content-1{
  display: flex;
  border: 1px solid blue;
  justify-content: first baseline;

}

.content-1 div{
  width: 300px;
  border: 1px solid rgb(115, 255, 0);

}


/* .content img{
  width: 340px;
  height: 100%;
  object-fit: cover;
  object-position: center center;
} */