.container{
  width: 600px;
 margin: 50px auto;
 display: flex;
}

.item-box{
  display: flex;
  /* border: 1px solid wheat; */
  position: relative;
  padding: 15px 0px;
  background-color: black;
  width: 150px;
  justify-content: space-around;
}
.item-box >li > a::after{
  content: "|" ;
  position: absolute;
  right: 0px;
}


a{
  text-decoration: none;
  color: white;
}

.item-box > li{
  text-align: center;
}

.sub-menu{
  background-color: rgba(0,0,0,0.4);
  display: none;
  border: 1px solid red;
  position: absolute;
  width: 100%;
  top: 41px; 
  left: 0px;
  margin: 8px 0px;

 
}

.item-box:hover{
  .sub-menu{
    display: block;
  }
}