<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <!-- thymeleaf 로 html에서 java쓰기 -->
</head>
<body>
  <!-- [[${name}]]
  <div th:text="${name}"></div>
  <div th:text="${age}"></div> -->
  
  <div style="width: 500px;">
    <div>
      <h2 style="color: lightsalmon;">welcom!</h2>
      <div>Please, go to join</div> <br>
    </div>
    <a href="/test_login"><button type="button">Go Login</button></a>
  </div>
</body>
</html>