<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test2</title>
</head>
<body>
  <h2 style="color: skyblue;">test2</h2>
  <input type="date" name="" id="">
  <a style="text-decoration: none;" href="http://localhost:8080/t1">
    <button type="button" style="background-color: darkcyan; border: none; padding: 5px;">
      test1 이동
    </button>
  </a>
  <!-- localhost:8080생략가능 -->
  <a style="text-decoration: none;" href="/t3"> 
    <button type="button" style="border: none; background-color: darkcyan; padding: 5px;">
    test3 이동
  </button>
</a>

</body>
</html>