<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
    <resultMap id="car" type="com.green.Car.vo.CarVO">
        <id column="MODEL_NUM" property="modelNum" />
        <result column="MODEL_NAME" property="modelName" />
        <result column="PRICE" property="price" />
        <result column="BRAND" property="brand" />
    </resultMap>

    <insert id="insert">
        INSERT INTO CAR_INFO(
        BRAND
        ,PRICE
        ,MODEL_NAME
        ) VALUES(
        #{brand}
        ,#{price}
        ,#{modelName}
        )
    </insert>

    <select id="select" resultMap="car">
        SELECT
        MODEL_NUM
        ,MODEL_NAME
        ,BRAND
        ,PRICE
        FROM CAR_INFO
    </select>

    <select id="selectInfo" resultMap="car">
        SELECT
        MODEL_NAME
        ,PRICE
        FROM CAR_INFO
        WHERE MODEL_NUM = #{modelNum}
    </select>

</mapper>































