
.logintable{
  margin-top: 50px;
  width: 50%;
}



.logintable input{
  /* width: 300px; */
  width: 18vw;  
  /* border: 1px solid red; */

}

.loginbtn-div{
  margin-top: 50px;
  text-align: center;
}

.login-btn{
  font-size: 18px;
  border: 1px solid lightgrey;
  padding: 11px;
  /* width: 140px; */

    /* 아래는 테스트중 040808 */
  width: 50%;
}