
.cartpage{
  width: 90%;
  margin:20px auto;
  margin-bottom: 10px;
}


.cart-content{
  margin-top: 10px;
  font-size: 1rem;
  width: 100%;
}

.cart-table{
  text-align: center;
  width: 95%;
}

.cart-table > thead{
  border-top: 1px solid lightgrey;
  border-bottom: 4px double lightgrey;
}

.cart-table tr,td {
  padding: 10px;
}

.cart-table tr{
  border-bottom: 1px solid lightgray;
  vertical-align: middle;
}

.cart-table > tbody tr:nth-child(even){
  background-color: rgb(239, 242, 245);
}

.cart-chkbox{
  width: 30px;
}

.cartimg{
  width:70px;
}

.carttd{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cartPrice{
  width: 90%;
  text-align: right;
  margin-bottom: 50px;
}

.cartPrice > h5{
  margin: 5px;
}

.cartPrice p {
  margin-bottom: 10px;
}

.cart-btn{
  text-align: center;
  width: 95%;
}
.cart-btn > button{
  margin: 5px 5px;
  padding: 7px;
  width: 150px;
  border: 1px solid lightgrey;
}

.delete-btn{
  border: 1px solid lightgrey;
  width: 80px;
  padding: 5px
}

.cart-table input{
  width: 50px;
}



@media (max-width : 1125px) {

.cartimg{
  width:50px;
}

.carttd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

  
  }
  
  @media (max-width : 768px) {

    .cartpage{
      width: 100%;
      font-size: 0.9em;
    }

    .cart-table{
     font-size: 0.75em;
    }

    .delete-btn{
      width: 60px;
      font-size: 0.8em;
    }

    .cartPrice{
      width: 100%;
      font-size: 0.8em;
    }
   
    }
  
  
  @media (max-width : 480px) {

  .cart-table th:nth-child(2), 
  .cart-table td:nth-child(2),
  .cart-table th:nth-child(4), 
  .cart-table td:nth-child(4), 
  .cart-table th:nth-child(7), 
  .cart-table td:nth-child(7)  
  {
    display: none;
  }

    .cart-content{
      margin: auto;
    }
    .delete-btn{
      width: 50px;
    }
    
    .cart-btn > button{
      margin: 5px;
      padding: 7px;
      width: 60px;
      border: 1px solid lightgrey;
    }
    
    
    }