
.cart-content{
  width: 90%;
  margin: auto;
}

.cart-table{
  text-align: center;
  width: 92%;
  margin: 25px auto;
}

.cart-table > thead{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.cart-table tr,td {
  padding: 10px;
  /* border: 1px solid black; */
}

.cart-chkbox{
  width: 20px;
}