
.header-userpage{
  padding: 25px;
}

.header-userpage > ul{
  display: flex;
  justify-content: space-around;
}


/* AdminLayout */
.header-userpage  li{
  width: 180px;
  text-align: center;
}


.dropMenu{
  /* position: relative; */
  /* width: 160px; */
}

.dropMenu-content{
  /* top: 100%;  */
  /* position: absolute; */
  /* border: 1px solid red; */
  background-color: rgb(250, 245, 245);
  /* text-align: left; */
  border-radius: 0.5rem;
  transition: ease-in(1s) ;
}

.dropMenu-content > ul{
  text-align: center;
}
.dropMenu-content li{
  margin-top: 5px;
  padding: 5px;
}
.dropMenu-content li:hover{
  background-color: rgb(235, 228, 228);
  cursor: pointer;
  border-radius: 0.5rem;
}
