.container{
  width: 100vw;
  height: 100vh;
  background-color: #EEEEEE;
  margin: auto;
}

/* 메뉴 상단 바  */
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  /* background-color: #201E43; */
  background-color: #1E2A5E;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

li:hover{
  cursor: pointer;
  color: yellow;
}

/* 메인화면 사진 */
.background-img{
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0.8;
  position: relative;
}

.header-h1{
  text-align: center;
  margin-top: 25px;
  position: absolute;
  top: 400px;
  left: 50px;
  color: white;
  font-size: 4rem;
}

tr,td{
  padding: 10px;
  font-size: 1.4rem;

}

/* 인풋 공용 */
input, select{
  border-radius: 5px;
  border: 1px solid grey;
}




/* 차량관리 css */
.sized{
  /* margin: 20px 20px; */
  /* margin: auto; */
}

.title-h3{
  /* background-color: #508C9B; */
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
}

.carinfo{
  font-size: 1.4rem;
  /* 사이즈 정해주기 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.carinfo > div >p{
/* 제조자 모델명 차량가격 글씨 조절*/
  /* display: inline-block; */
  margin-bottom: 5px;
  width: 100px;
  font-size: 1.2rem;
}

input,select{
/* 인풋 박스 크기 */
  width: 300px;
  height: 35px;
  font-size: 1.2rem;
}

.carinfo-btn{
  border: none;
  background-color: #1E2A5E;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.carinfo-btn:hover{
  cursor: pointer;
  background-color:#1a2863;
  color: rgb(211, 211, 211);
}

/* 차량목록 테이블 */
  table{
  width: 800px;
  /* border: 1px solid black; */
  
}

.carInfoTable{
  margin: 20px auto;
}

.carInfoTable > thead{
  border-bottom: 10px double;
  background-color: #4a45a7;
  text-align: center;
  color: white;
}

.carInfoTable > tbody{
  text-align: center;
}

.carInfoTable > tbody:nth-child(even){
  background-color:  #babadd;
}


/* SalesInfo css */

h3{
  text-align: center;
}

.sales-content{
  width: 50%;
  margin: 50px auto;
}

.sales-content > h3{
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.sales-content> div {
  margin-bottom: 20px;
}

.sales-content> div> span{
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: 1.4rem;
  margin-left: 10px;
}

.sales-input{
  width: 700px;
}

.salesinfo-bnt{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.salesinfo-bnt > button{
  width: 150px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #1E2A5E;
  color: white;
  cursor: pointer;
}

.salesinfo-bnt > button:hover{
  background-color:#1a2863;
  color: rgb(230, 228, 228);

}

/* 판매목록 */

.listContent{
  margin: 20px auto;
}

.saleListTable{
  margin: auto;
  text-align: center;
  width: 80%;
}


.saleListTable > thead{
  border-bottom: 10px double;
  background-color: #4a45a7;
  text-align: center;
  color: white;
}

.saleListTable > tbody{
  border: 1px solid;
}

.saleListTable > thead , .saleListTable td{
  text-align: center;
  /* border: 1px solid black; */
}

.saleListTable > tbody  tr:nth-child(even){
  background-color:  #babadd;
}