.App {
  text-align: center;
}

.write-btn{
  border: none;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(103, 196, 103);
  color: white;
}

.write-btn:hover{
  cursor: pointer;
  background-color: rgb(90, 173, 90);
}

.list-table{
  border-collapse: collapse;
  margin-bottom: 15px;
}

thead{
  background-color: rgb(207, 243, 255);
}

.insert-table{
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}



.insert-table tr,td{
  border: 1px solid silver;
  
}

.title-sp:hover{
  cursor: pointer;
  color: grey;
}