.App {
  text-align: center;
}

.write-btn{
  border: none;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(103, 196, 103);
  color: white;
  margin-top: 20px;
  margin-right: 10px;
}

.write-btn:hover{
  cursor: pointer;
  background-color: rgb(90, 173, 90);
}

.list-table{
  border-collapse: collapse;
  margin-bottom: 15px;
  margin: auto;
}

thead{
  background-color: rgb(207, 243, 255);
}

.insert-table{
  border-collapse: collapse;
  margin-bottom: 15px;
  margin: auto;

  text-align: center;
}


.insert-table tr,td{
  border: 1px solid silver;
  
}

.title-sp:hover{
  cursor: pointer;
  color: grey;
}

.detail-table{
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

/* axiostest button  */
.btn{
  margin: 10px;
}

.btn > button{
  border: none;
  padding: 8px;
  background-color: lightsalmon;
  border-radius: 10px;
  color: white;
}

.btn >button:hover{
  cursor: pointer;
  background-color: rgb(252, 145, 103);
}

/* axiostest button */