<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>second</title>
</head>
<body>
  <h4>학생 성적 입력 프로그램</h4>
  <div> [[${scoreVO.name}]] 학생의 기본정보를 입력합니다.</div>
  <form action="/input_grade" method="post">
    <table>
      <tr>
        <td>학년<td>
        <td>
          <input type="text" name="hak">
        </td>
      </tr>
      <tr>
        <td>연락처</td>
        <td>
          <select name="tel" >
            <option value="010">010</option>
            <option value="090">090</option>
          </select>
          <input type="tel" name="tel">
        </td>
      </tr>
      <tr>
        <td>성별</td>
        <td>
          <input type="radio" name="gender" value="남" checked>남
          <input type="radio" name="gender" value="여">여
        </td>
      </tr>
    </table>
    <input type="hidden" name="name" th:value="${scoreVO.name}">
    <input type="submit" value="확인"> 
    <input type="button" value="뒤로가기"> 
  </form>
</body>
</html>