<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .content{
      display: flex ;
      justify-content: left;
      width: 500px;
    }
    .button{
      margin: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
 <div class="content">
    <form action="/member_info" method="post">
      <table>
        <tr>
          <td>아이디</td>
          <td><input type="text" name="id"></td>
        </tr>
        <tr>
          <td>비밀번호</td>
          <td><input type="password" name="pw"></td>
        </tr>
        <tr>
          <td>이름</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>연락처</td>
          <td><input type="tel" name="tel" ></td>
        </tr>
        <tr>
          <td>이메일</td>
          <td><input type="email" name="email" ></td>
        </tr>
        <tr>
          <td>생일</td>
          <td><input type="date" name="birth" ></td>
        </tr>
      </table>
     <div class="button"> <input type="submit" value="회원가입"></div>
    </form>
 </div>
</body>
</html>