<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>이력서 정보</h2>
  <div>학력</div>
  <p>
  <select name="" >
    <option value="대졸">대졸</option>
    <option value="전문대졸">전문대졸</option>
    <option value="고졸">고졸</option>
  </select>
    <input type="text" name="">
  </p>
  <div>
    지원 구분 
    <input type="radio" name="" value="신입">신입
    <input type="radio" name="" value="경력">경력
  </div>
  <div>자격정보</div>
  <table>
    <tr>
      <td>자격증명</td>
      <td>취득일자</td>
      <td>발행기관</td>
    </tr>
    <tr>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
  </table>
  <div>경력정보</div>
  <table>
    <tr>
      <td>회사명</td>
      <td>담당업무</td>
      <td>경력기관</td>
    </tr>
    <tr>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text">년 <input type="text">개월</td>
    </tr>
  </table>
</body>
</html>