<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="answerAdminMapper">
    <!-- 관리자 기능 관련 쿼리-->


    <!--  카테고리 목록 조회 -->
    <!-- resultMap 주의 :카테고리는 answerItemMapper 매퍼에 있음!! -->
    <!-- 이때 주의 할점 ,셀렉트로 카테고리를 선택하기 때문에 카테고리 번호가 1번부터 조회되도록 오더바이 주기 -->
    <select id="getCategoryList" resultMap="answerItemMapper.category">
        SELECT CATE_CODE,CATE_NAME
        FROM  ANSWER_ITEM_CATEGORY
        ORDER BY CATE_CODE ASC;
    </select>


    <!-- 상품등록  -->
    <insert id="insertItem">
        INSERT INTO answer_shop_item(
            ITEM_CODE
            ,ITEM_NAME
            ,ITEM_PRICE
            ,ITEM_INTRO
            ,CATE_CODE
        ) VALUES(
            #{itemCode}
            ,#{itemName}
            ,#{itemPrice}
            ,#{itemIntro}
            ,#{cateCode}
        )
    </insert>


    <!-- 상품 이미지 등록-->
    <insert id="insertImgs">
        INSERT INTO ANSWER_ITEM_IMG(
            ORIGIN_FILE_NAME
            ,ATTACHED_FILE_NAME
            ,IS_MAIN
            ,ITEM_CODE
        )VALUES
        <!-- separator:반복 돌 때 마다 찍어 줌 (마지막은 알아서 안 준다) -->
        <foreach collection="imgList" item="img" separator=",">
        (
            #{img.originFileName}
            ,#{img.attachedFileName}
            ,#{img.isMain}
            ,#{itemCode}
        )
        </foreach>
    </insert>

    <!-- 다음에 들어갈 item_code 조회 -->
    <select id="getNextItemCode" resultType="int" >
        SELECT IFNULL(MAX(ITEM_CODE)+1,0)+1
        FROM ANSWER_SHOP_ITEM
    </select>

</mapper>































