<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="MEM_ID" property="memId" />
        <result column="CREATE_DATE" property="createDate" />
<!--        <collection property="replys" resultMap="reply" />-->
    </resultMap>
    

    <select id="boardList" resultMap="board">
        SELECT
        BOARD_NUM
        ,TITLE
        ,MEM_ID
        ,CREATE_DATE
        FROM BOARD
    </select>


    <!-- 상세 페이지 -->
<!--    <select id="detail" resultMap="board">-->
<!--        SELECT-->
<!--        CREATE_DATE-->
<!--        ,B.MEM_ID-->
<!--        ,TITLE-->
<!--        ,CONTENT-->
<!--        ,REPLY_DATE-->
<!--        ,R.MEM_ID-->
<!--        ,REPLY_CONTENT-->
<!--        FROM board B, board_reply R-->
<!--        WHERE B.BOARD_NUM = R.BOARD_NUM-->
<!--        AND B.BOARD_NUM = #{boardNum}-->
<!--        ORDER BY  R.REPLY_NUM DESC-->
<!--    </select>-->

</mapper>































