<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="MEM_ID" property="memId" />
        <result column="CREATE_DATE" property="createDate" />

    </resultMap>
    

    <select id="boardList" resultMap="board">
        SELECT
        BOARD_NUM
        ,TITLE
        ,MEM_ID
        ,CREATE_DATE
        FROM BOARD
        ORDER BY BOARD_NUM DESC
        LIMIT #{displayDataCnt} OFFSET #{offset};
    </select>

    <!-- 전체 데이터 수 조회 -->
    <select id="totalBoardCnt" resultType="int">
        SELECT COUNT(BOARD_NUM)
        FROM board;
    </select>

    <insert id="insert">
        INSERT INTO BOARD(
        TITLE
        ,CONTENT
        ,MEM_ID
        ) VALUES(
        #{title}
        ,#{content}
        ,#{memId}
        )
    </insert>

    <!-- 상세 페이지 -->
    <select id="detail" resultMap="board">
        SELECT
        CREATE_DATE
        ,MEM_ID
        ,TITLE
        ,CONTENT
        ,BOARD_NUM
        FROM board
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <delete id="delete">
        DELETE FROM board
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <update id="update">
        UPDATE BOARD SET
        BOARD_NUM = #{boardNum}
        ,TITLE = #{title}
        ,CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

</mapper>































