<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="regStuScore" method="post">
    <table>
      <tr>
        <td>학번</td>
        <td><input type="text" name="stuNum" value=""></td>
      </tr>
      <tr>
        <td>이름</td>
        <td><input type="text" name="stuName" value=""></td>
      </tr>
      <tr>
        <td>수학점수</td>
        <td><input type="text" name="korScore" value=""></td>
      </tr>
      <tr>
        <td>영어점수</td>
        <td><input type="text" name="engScore" value=""></td>
      </tr>
      <tr>
        <td>학생소개</td>
        <td><textarea name="intro" cols="30" rows="10"></textarea></td>
      </tr>
    </table>
    <input type="submit" value="등록하기">
  </form>
</body>
</html>